 body {
    color:white;
      display: grid;
  grid-template-rows: 1fr auto;
    background: #1A1A1D;
    height: 100%;
    }

    prova {margin:10px  }
   figure {
    background: #5f6a72; /* Цвет фона */
    padding: 10px; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 160px; /* Ширина */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: 10px 10px 10px 10px; /* Отступы */
    text-align: center; /* Выравнивание по центру */
   }
   figcaption {
    color: #fff; /* Цвет текста */
   }
   .card {
    }
   .kartina {
   float:left;
   border: 3px solid black;
    margin:10px 10px 10px 50px;
    vertical-align:top;
   }
   .tx_title{
   color:white;
   vertical-align:180%;
   margin-left:10px;
   font-family:Arial;
   font-size:20px;
   font-weight:bold;
   }
   .tx_genre{
   padding:10px;
   color:white;
   vertical-align:150%;
   margin-left:250px;
   font-family:Arial;
   font-size:16px;
   }
   .card2{
   border:10px;
   }
   a {
    text-decoration: none;
   }
   .content {
	flex: 1 0 auto
}
.footer {
	flex: 0 0 auto;
}